html {
    font-size: 62.5%; /* Set the base font size to 10px */
}

body {
   font-size: 1.4rem;
   background-color: #A9B0BB;

}

#main-container {
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task-list-container {
    border: 1px solid #ddd;
    width: 50vw;
    border-radius: .5rem;
    background-color: white;
    max-width: 500px;
    padding: 2rem;
}

#task-list-complete {
    margin-top: 4rem;
}

.task-list {
   width: 100%;
   padding: 0;
}

.task-list li {
    list-style: none;
    padding: 0 .5rem;
    height: 4rem;
    margin: .5rem 0;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.task-list li:hover {
    background-color: whitesmoke;
    border-radius: 0.5rem;
}

.task-list .complete {
    color: green;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;

}

#taskInput {
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    color: #333;
    width: 100%;
}
  
#taskInput:focus {
    outline: none;
}