html {
    font-size: 62.5%; /* Set the base font size to 10px */
}

body {
   font-size: 1.4rem;
   background-color: #A9B0BB;

}

#main-container {
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task-list-container {
    border: 1px solid #ddd;
    width: 50vw;
    border-radius: .75rem .75rem 0 0;
    background-color: white;
    max-width: 500px;
    padding: 2rem;
}

.task-list-container div:first-of-type {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

#task-list-complete {
    margin-top: 4rem;
    border-radius: 0.75rem;
}

#task-list-active .completing {
    color: rgb(121, 217, 77);
}

.task-list-container:not(.expanded) {
    height: 2rem;
    overflow: hidden;
}

.task-list-container .expanded {
    overflow: auto;
    height: auto;
    border-radius: .75rem;
}

.task-list {
   width: 100%;
   margin: 0;
   padding: 0;
   padding-top: 1rem;
}

.task-list li {
    list-style: none;
    padding: 0 .5rem;
    height: 4rem;
    margin: .5rem 0;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.task-list li input[type="checkbox"] {
    display: none;
  }

.task-list li svg {
    color: #797979;
    padding-right: 1rem;
    font-size: 1.8rem;
}

.task-list li svg:hover {
    cursor: pointer;

}

.task-list li:hover {
    background-color: whitesmoke;
    border-radius: 0.75rem;
}

.task-list .complete input, .complete .label {
    opacity: .25;
}

form {
    width: 57%;
    display: flex;
    justify-content: center;
}

#taskInput {
    padding: 2rem;
    border: none;
    color: #333;
    width: 100%;
    border-radius: 0 0 .75rem .75rem;
}
  
#taskInput:focus {
    outline: none;
}

.empty-list-text {
    opacity: .25;
    padding-top: 2rem;
}