html {
    font-size: 62.5%; /* Set the base font size to 10px */
}

body {
   font-size: 1.4rem;
}

#main-container {
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#task-list-active {
    border: 1px solid #ddd;
    width: 50%;
}

.task-list {
   width: 100%;
}

.task-list li {
    list-style: none;
    padding: .5rem 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.291);
    height: 2rem;
}

.task-list .complete {
    color: green;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#taskInput {
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    color: #333;
    margin-top: .25rem;
    width: 100%;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.291);;
}
  
#taskInput:focus {
    outline: none;
}